* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  /*  scroll-padding-top: 127px;*/
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: var(--black);
  /*  padding: 0 1rem;*/
  margin: 0 auto;
}

body {
  height: 3500px;
}
html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
img {
  width: 100%;
  height: 100vh;
}
#filling {
  height: 100vh;
  width: 100%;
}
#cover {
  height: 100vh;
  width: 100%;
}
#cover > div {
  height: 100vh;
  width: 100%;
  position: absolute;
}
#one {
  z-index: 2;
}
#two {
  z-index: 1;
}
