* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 1000px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #831a3d;
  padding: 10px 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 5x 20px rgba(0, 0, 0, 0.5);
  color: white;
}

header .navigation {
  display: flex;
  position: relative;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: white;
}

header .navigation li a:hover {
  color: #ff0157;
}

#disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loginButton {
  margin-top: 20px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: 250ms;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

/* Banner */
p {
  font-weight: 300;
  color: #111;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/images/wood.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: left;
}

.banner .content h1 {
  font-size: 5em;
  color: #fff;
}

.banner .content h4 {
  font-size: 2em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  display: inline-block;
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;

  font-size: 1em;
  color: #fff;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

section {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.titleText {
  color: #831a3d;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
}

.titleText p {
  font-family: "Sofia Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2c2c2c;
}

/* 
.row .col50 .imgBx {
  position: relative;
  width: 50%;
  height: 50%;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/

.acornClub {
  margin-top: 20px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: 250ms;
  background: #831a3d;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

@media (max-width: 991px) {
  header {
    padding: 10px 20px;
  }

  .banner .content h1 {
    font-size: 3em;
    color: #fff;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .banner .content h1 {
    font-size: 2em;
    color: #fff;
    width: 370;
  }

  .banner .content h4 {
    font-size: 16px;
    color: #fff;
    width: 370;
  }

  .banner .content p {
    font-size: 1.1em;
    width: 380px;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }
}
